*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    margin:0;
    font-family: 'Comfortaa', cursive;
    background-color: #e7e7e7;
}
a{
    text-decoration: none;
}

.container{
    height: 100vh;
}
.main{
    padding-top: 1.4rem;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    min-height: 600px;
    background:url(../img/fit7.jpg) no-repeat center;
    background-size: cover; 
    position: relative;
}
.main_all_classes{
    background:url(../img/all_classes.jpg) no-repeat center;
    background-size: cover; 
    position: relative;
}
.main_time{
    background:url(../img/time.jpg) no-repeat center;
    background-size: cover; 
    position: relative;}   
.main_diet{
    background:url(../img/diet.jpg) no-repeat right;
    background-size: cover; 
    position: relative;}     

.main_contacts{
    background:url(../img/contacts1.jpg) no-repeat center;
    background-size: cover; 
    position: relative;}
.main_pilates{
    background:url(../img/pilates_bckg.jpg) no-repeat center;
    background-size: cover; 
    position: relative;
}
.main-overlay{
    position: absolute;
    width:100%;
    left:0; top:0;
    height: 100%;
    z-index: 0;
    opacity: 0.8;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(85, 85, 85) 50%, rgb(0, 0, 0)100%);
}
header{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    width: 95%;
    height: 10vh;
}
.logo{
    width:20vw;
}
.logo img{
    width: 80px;
}
.logo .pro-move{
    color:#fff;
    font-size: 5rem;
}
.menu{
    width:68%;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}
.menu_link{
    padding:1rem 2.5rem;
    border-radius:20px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.menu_link:hover{
    border-radius:20px;
    background-color: rgba(255, 255, 255, 0.3);
}
.menu_link:active{
    border-radius:20px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}
.m-menu{
    margin:0;
    position: fixed;
    right:0; top:0;
    height:100vh;
    width:100%;
    text-align:center;
    list-style:none;
    font-size:3rem;
    line-height:3rem;
    background-color: #7f6b92;
    color:#fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    transform: translatex(100%);
    transition: 0.3s;
}
.m-menu_active{
    transform: translatex(0%);
}
.close-menu{
    position:fixed;
    right:3rem;
    top:2rem;
    font-size:5rem;
    font-weight:900;
}
.close-menu:hover{
    text-shadow: 0px 0px 15px  rgba(204,204,223,0.8);
}
.close-menu:active{
    text-shadow: 0px 0px 10px  rgba(204,204,223,0.8);
}
.close-menu:hover{
    cursor: pointer;
}
.m-menu-link{
    font-size:3rem;
    color:white;
    display:none;
}

.m-menu-link:hover{
    text-shadow: 0px 0px 15px  rgba(204,204,223,0.8);
}
.m-menu-link:active{
    text-shadow: 0px 0px 10px  rgba(204,204,223,0.8);
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
}
h1{
    font-size:7rem;
    margin: 0.5rem;
}
.main-text span{
    display: inline-block;
    font-size: 2rem;
}

.main-text span::before{
    content: "";
    width:20px;
    height: 1px;
    background-color: #FFF;
    display:inline-block;
    vertical-align: middle;
    margin-right    : 10px;
}

.main-text span::after{
    content: "";
    width:20px;
    height: 1px;
    background-color: #FFF;
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.main-btn_look-more{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFF;
    z-index: 2;
    position: relative;
    text-decoration: none;
    font-size: 4rem;
}
.main-btn_look-more:hover{
    text-shadow: 0px 0px 15px  rgba(204,204,223,0.8);
}
.main-btn_look-more:active{
    text-shadow: 0px 0px 10px  rgba(204,204,223,0.8);
}
    main {
        background-color: #e7e7e7;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        display: flex;
    }

.main-header{
    text-align: center;
    margin-top: 3rem;
}
.main-header span{
    text-transform:uppercase;
    color: #a5a5a5;
    font-size: 1.4rem;
    
}
.main-header h2{
    color: #7f6b92;
    font-size:40px;
    margin:0;

}
.main-header span::before{
    content: "";
    width:20px;
    height: 1px;
    background-color: #a5a5a5;
    display:inline-block;
    vertical-align: middle;
    margin-right    : 10px;
}

.main-header span::after{
    content: "";
    width:20px;
    height: 1px;
    background-color:#a5a5a5;
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.main-directions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 0;

}
.pop-classes {
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    text-align: center;
    width: 300px;
    transition: 0.5s;
    margin: 1rem 4rem;


}
.pop-classes:hover{
    cursor: auto;
box-shadow: 0px 0px 60px 10px rgba(204,204,223,0.8);
}

.pop-classes h4{
    color: #7f6b92;
    font-size:25px;
}
.pop-classes p{
    font-size: 1.4rem;
}
.pop-classes span{
    color: #a5a5a5;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size:15px;
}
.pop-classes a:active{
    color: #5f1b9e;
    
}
.pop-classes img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: 0.5s;
}
.pop-classes:hover img{
        opacity:0.6;

}
.dark-img{
    background-color: #000;
    height:120px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}
.read-more_btn{
    text-decoration: none;
    background-color: #fff;
    border:1px solid #a5a5a5;
    color:#a5a5a5;
    text-transform: uppercase;
    font-size:1.5rem;
    font-weight: 300;
    padding: 1rem;
    margin:3rem 6rem;
    border-radius: 100px;
    transition: 0.5s;
}
.read-more_btn:hover{
    background-color: #7f6b92;
    color:white;
}
a.read-more_btn:active{
    color:white;
    background-color: #7936b8   ;
}
.btn_classes{
    display: flex;
    justify-content: center;
}
.btn_all-classes{
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    background-color: #fff;
    color:#a5a5a5;
    border:1px solid #a5a5a5;
    text-transform: uppercase;
    font-size:1.5rem;
    font-weight: 300;
    margin-bottom:2rem;
    border-radius: 100px;
    transition: 0.5s;
    padding: 1rem;



}
.btn_all-classes:hover{
    background-color: #7f6b92;
    color:white;    
    cursor: pointer;
    box-shadow: 0px 0px 30px 10px rgba(204,204,223,0.8);
   
}
/* тут начинается слайдер */
.sl{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    padding: 4rem;
    width:100%;
    margin: auto;
overflow: hidden;
}

.sl_slide{
    background-size:cover; 
    height: 600px;  
}
.sl_slide-1{
    background: url(../img/slide1.jpg);
    background-size: cover;
    background-position: 80%;
}
.sl_slide-2{
    background: url(../img/slide2.jpg);
    background-size: cover;
}
.sl_slide-3{
    background: url(../img/slide3.jpg);
    background-size: cover;
}
.sl_slide-4{
    background: url(../img/slide4.jpg);
    background-size: cover;
    background-position: center;
}
.sl_slide-5{
    background: url(../img/slide5.jpg);
    background-size: cover;
    background-position: center;
}
.sl_slide-6{
    background: url(../img/slide6.jpg);
    background-size: cover;
}
.sl_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 3;
    width: 80%;
    font-size: 3rem;
    line-height: 3.5rem;
    margin:auto;
    padding: 10rem 5rem;
    opacity: 0;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

.sl:hover .sl_text{
    opacity:1;
    transition: 0.3s;
}
.slick-slider{
    padding: 0;
}
.slick-next.slick-arrow::before{
    position: absolute;
    right:5rem;
    display: inline-block;
    font-size: 5rem;
}
.slick-prev.slick-arrow:before{
    position: absolute;
    left:5rem;
    display: inline-block;
    font-size: 5rem;
}
.slick-prev {
    z-index: 1;
}
footer{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #a5a5a5;
    box-sizing: border-box;
    background: #a5a5a5;
}

.copyright{
    font-size: 2rem;
    color:#7f6b92;
}
.logo-footer{
    width:45%;
}
.logo-img{
    width:10rem;
}

.logo-footer .pro-move{
    color:white;
}
.footer_call{
    font-size: 2rem;

}
.footer_call a{
    color:white;
}
.footer_call a:hover{
    color: #7936b8;
    transition: 0.2s;
}
.footer_call a:active{
    color:#5f1b9e;
    transition: 0.1s;
}
.socials{
    width:10%;
    display:flex;
    justify-content: space-around;
    margin-right: 2rem;
}
.socials a{
    font-size:3rem;
    text-decoration: none;
    transition: 0.3s;
    margin-right: 2rem;
}
.socials a:hover{
    text-shadow: 0px 0px 15px  #7f6b92;
}
.socials a:active{
    text-shadow: 0px 0px 10px  #7f6b92;
}

/* стили для галереи */
.main_gallery{
    background-image: url(../img/gallery.jpg);
}
.gallery{
    padding: 1vw;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    flex-direction: row;
    flex-wrap:  wrap;
}
.gallery div{
    flex: 1 1 auto;
    width: 290px;
    margin: 1.2vw;
    background-color: rgb(0, 0, 0);
}
.gallery div img{
    width: 100%;
    height:auto;
}
.gallery:hover img{
    opacity:0.5;
    transition: 0.6s opacity;
}
.gallery:hover img:hover{
    opacity:1;
    transition: 0.6s opacity;
}
/* КОНЕЦ - стили для галереи */

/* пилатес */


.pilates{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    background: url(../img/pilates1.jpg) no-repeat left bottom;
    background-size: cover;
    position: relative;
    padding: 15rem 1rem;
    margin: 3rem 0;
}
.pilates-overlay{
    position: absolute;
    width:100%;
    left:0; top:0;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.527) 0%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 60%,  rgba(17, 17, 17, 0.527)100%);
}
.pilates-about{
    display: flex;
    position: relative;
    z-index: 2;
    text-align: justify;
    width: 50rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0; 
}

/* Силовой фитнес */
.main_fit{
    background: url(../img/main_fit.jpg) no-repeat center;
}

.fitlife{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    background: url(../img/fit-strong1.jpg) no-repeat right;
    background-size: cover;
    position: relative;
    padding: 15rem 1rem;
    margin: 3rem 0;
}
.fitlife-overlay{
    position: absolute;
    width:100%;
    left:0; top:0;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.527) 0%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 60%,  rgba(17, 17, 17, 0.527)100%);
}
.fitlife-about{
    display: flex;
    position: relative;
    z-index: 2;
    text-align: justify;
    width: 50rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0; 
}

/* фитнес йога */
.main_yoga{
    background-image: url(../img/main-yoga.jpg);
}
.yoga{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    background: url(../img/yo.jpg) no-repeat right bottom;
    background-size: cover;
    position: relative;
    padding: 15rem 1rem;
    margin: 3rem 0;
}
.yoga-overlay{
    position: absolute;
    width:100%;
    left:0; top:0;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.527) 0%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 60%,  rgba(17, 17, 17, 0.527)100%);
}
.yoga-about{
    display: flex;
    position: relative;
    z-index: 2;
    text-align: justify;
    width: 50rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0; 
}
/* брейк-данс */
.main_break{
    background-image: url(../img/break4.jpg)
}
.break{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    background: url(../img/break5.jpg) no-repeat left;
    background-size: cover;
    position: relative;
    padding: 15rem 1rem;
    margin: 3rem 0;
}
.break-overlay{
    position: absolute;
    width:100%;
    left:0; top:0;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.527) 0%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 60%,  rgba(17, 17, 17, 0.527)100%);

}
.break-about{
    display: flex;
    position: relative;
    z-index: 2;
    text-align: justify;
    width: 50rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0; 
}

/* стретчинг */
.main_stretching{
    background-image: url(../img/stretching1.jpg);
}
.stretching{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    background: url(../img/stretching2.jpg) no-repeat left;
    background-size: cover;
    position: relative;
    padding: 15rem 1rem;
    margin: 3rem 0;
}
.stretching-overlay{
    position: absolute;
    width:100%;
    left:0; top:0;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.527) 0%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 60%,  rgba(17, 17, 17, 0.527)100%);

}
.stretching-about{
    display: flex;
    position: relative;
    z-index: 2;
    text-align: justify;
    width: 50rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0; 
}

/* стрип-пластика */
.main_strip{
    background-image: url(../img/main-strip.jpg);
}
.strip{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background: url(../img/strip.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    padding: 15rem 1rem;
    margin-top: 3rem;
}
.strip-overlay{
    position: absolute;
    width:100%;
    left:0; top:0;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.527) 0%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 60%,  rgba(17, 17, 17, 0.527)100%);

}
.strip-about{
    display: flex;
    position: relative;
    z-index: 2;
    text-align: justify;
    width: 50rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0; 
}

/* контакты */
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.form-feedback{
    display: flex;
    margin:auto;
}
.form{
    min-width:35rem;
    width: 50%;
    padding: 3rem;
    border:1px solid  #a5a5a5;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30rem;
    font-size:2rem;
}
.input-wrap{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
}
.input-wrap input{
    padding: 1.5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    width:90%;
    background-color: #e7e7e7;
    border:1px solid  #a5a5a5;
}
.input-wrap input:focus{
    background-color: #fff;
    box-shadow: 0px 0px 30px 10px rgba(204,204,223,0.8);
    color: #7f6b92;
    transition: 0.3s;
}

.message-input{
    padding: 1.5rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    min-width:90%;
    max-width:95%;
    min-height:20rem;
    max-height:40rem;
    background-color: #e7e7e7;
    border:1px solid  #a5a5a5;
}
.message-input:focus{
    background-color: #fff;
    box-shadow: 0px 0px 30px 10px rgba(204,204,223,0.8);
    color: #7f6b92;
    transition: 0.3s;
}
.input-label{
    font-weight: 700;
}


.btn_send-message{
    margin: auto;
    text-align:center;
    width:15rem;
    text-decoration: none;
    background-color: #fff;
    border:1px solid #a5a5a5;
    color:#a5a5a5;
    text-transform: uppercase;
    font-size:1.5rem;
    font-weight: 300;
    padding: 1rem;
    border-radius: 100px;
    transition: 0.5s;
}
.btn_send-message:hover{
    background-color: #7f6b92;
    color:white;
}
.adres{
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    font-size:2rem;
    line-height: 4rem;
    list-style-type: none;
    text-align: center;
    
}
.adres li{
    list-style-type: none;
}
.adres a{
    color: #7f6b92;;
    transition: 0.3s;
}
.adres a:hover{
    color: #5f1b9e;
    text-shadow: 1px 1px 20px #7f6b92;
}
.adres a:active{
    color: #5f1b9e;
    text-shadow: 0px 0px 8px #7f6b92;
}
.icon-viber{
    font-size:2.8rem;
}
.map{
    width:99%;
    margin:5rem auto;

}

/* диета и питание - статьи */

.wrapper-diet{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.preview{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    transition: 0.5s;
    font-size: 2rem;
    text-align: justify;
    border:1px solid #a5a5a5;
}
.preview-rwrs{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    transition: 0.5s;
    font-size: 2rem;
    text-align: justify;
    border:1px solid #a5a5a5;
}
.preview-rwrs p,.preview-rwrs h4,
.preview p, .preview h4,
.preview-rwrs li,
.preview li{
    padding: 1rem;
}
.preview:hover,
.preview-rwrs:hover{
box-shadow:  0px 0px 30px 10px rgba(204,204,223,0.8);
}
.preview:active,
.preview-rwrs:active{
box-shadow:  0px 0px 10px 30px rgba(204,204,223,0.8);
transition: 0.1s;
}
.food-img{
    display: block;
    background-size: cover;
    width: 50%;
    background-position: center;
}
.food-img_1{
    background-image: url(../img/food-img1.jpg);
    background-position: left;
}
.food-img_2{
    background-image: url(../img/food-img2.jpg) ;
}
.food-img_3{
    background-image: url(../img/food3.jpg) ;
}
.food-img_4{
    background-image: url(../img/food-img6.jpg) ;
}
.food-img_5{
    background-image: url(../img/food-img7.jpg) ;
}
.food-img_6{
    background-image: url(../img/food-img5.jpg) ;
}

.food-img:hover{
    opacity: 0.8;
    transition: 0.3s;
}
.info-food{
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
}
.main_food{
    align-items: center;
}
.food-article{
    width:65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    font-size:1.8rem;
    text-align: justify;
    line-height:2.5rem;
}
.img_kaloriinost{
    display: block;
    background-image: url(../img/kaloriinost.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    height:56rem;
}
.img_sport-pit{
    display: block;
    background-image: url(../img/sport-pit.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    height:56rem;
}
.img_diet{
    display: block;
    background-image: url(../img/img-diet.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    height:56rem;
}
.img_rules{
    display: block;
    background-image: url(../img/food1.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    height:56rem;}

.img_rules-1{
    display: block;
    background-image: url(../img/img-rules.jpg) ;
    background-position: center;
    background-size: cover;
    width:100%;
    height:56rem;
}
.img_muscle{
    display: block;
    background-image: url(../img/img-muscle.jpg);
    background-position: right;
    background-size: cover;
    width:100%;
    height:56rem;
}
.img_muscle-1{
    display: block;
    background-image: url(../img/img-muscle-1.jpg);
    background-position: right;
    background-size: cover;
    width:100%;
    height:56rem;
}
.img_summer-food{
    display: block;
    background-image: url(../img/img-summerFood.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    height:56rem;
}

/* График занятий */
.grafik{
 align-items: center;
}
table{
    margin:1rem;
    border: 1px solid #a5a5a5;
    border-collapse: collapse;
    font-size: 1.5rem;
}
td{
    border: 1px solid #a5a5a5;
    padding: 2rem;
    background: rgb(255, 255, 255);}
tr{
    width: 15%;
}

th{
    border: 1px solid #a5a5a5;
    padding: 1.3rem;

    background-color: #7936b8;
    color:white;
}

tr .saturday{
    background-color: #a08db1;
    color:white;
}
tr .time{
    background: #747474;
 color: white;
}

.small-grafik{
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    display: none;
    
}
.small-grafik h3{
    font-size: 1.8rem;
}
.small-grafik div{
    border: 1px solid #a5a5a5;
    margin: 1rem;
    width:40%;
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: rgb(216, 216, 216);
    border-radius: 1rem;
}
.small-grafik div:hover{
    
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0px 0px 10px 10px rgba(204,204,223,0.8);
}

.coast{
    display: flex;
    flex-direction: column;
    width:50%;
    margin: auto;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    margin:2rem;
    font-size:2rem;
    background: #b0a2bd;
}

.coast:hover{   
transform: scale(1.1);
transition: 0.2s;
box-shadow: 0px 0px 10px 10px rgba(204,204,223,0.8);
}

/* FAQ */

.FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 2.5rem;
    border-radius: 2rem;
    padding: 5rem;
    background-color: #ffffff;
}
.irina-photo{
    background: url(../img/13.jpg) bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100rem;
    width: 100%;
    margin-top: 6rem;
}
.sergei-photo{
background-image: url(../img/12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100rem;
    width: 100%;
}
.sergei-photo-1{
    background: url(../img/FAQ-sergei.jpg) no-repeat center;  
  
    background-size: cover;
    height: 50rem;
    width: 100%;
}
.yalta_video{
    background: url(../img/yalta.jpg) no-repeat;
    height: 389px;
    width: 248px;
    margin: 2rem;
}
.yalta_video:hover{
    transform: scale(1.1, 1.1);
    transition: 0.1s;
}
.FAQ h3{
    color: #7f6b92;
    margin:2rem;
}

/* медиазпросы */
@media(max-width:1340px){
    .pop-classes{
        margin: 1rem 1.5rem;
    }
}

@media(max-width:1280px){
    html{font-size: 9px;}

}
@media(max-width:1024px){
.sergei-photo{
    background-position: left bottom;}

    html{font-size: 8px;}
    .visible-lg{
        display:none;
    }
    .menu_link {
        padding: 1rem 2.5rem;
        border-radius: 20px;
        font-size: 2.5rem;
        line-height: 3;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
    }
    .m-menu-link{
        display: block;
    }

   .pop-classes{width: 90%;
    height:120px;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin: 1rem 0;
}
.pop-classes img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2rem;

}
.pop-classes:hover{
    cursor: pointer;
box-shadow: 0px 0px 15px 7px rgba(204,204,223,0.8);
}
.dark-img{
    background-color: #000;
    height:120px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2rem;}
    
    .pop-classes p{
        display: none;
    }
    .pop-classes span{
        display: none;
    }
    .read-more_btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:810px){
    th, td{
        padding: 1rem;
    }
}
@media(max-width:768px){
    .irina-photo,
    .sergei-photo{
        background-size:contain;
        height: 70rem;
    }
    .sergei-photo-1{
        background-size:contain;
        height: 40rem;
    }
    .coast{
        width:90%;
    }
    table{
        display:none;
    }
    .small-grafik{
        display: flex;
    }
    .pop-classes h4{
        display: none;
    }
    .read-more_btn{
        margin: 6rem auto;
    }
    .main{
        background-image: url(../img/fit7-m.jpg);
    }
    .be-healthy{
        background-image: url(../img/fit12-m.jpg);
    }
    .main_all_classes{
        background-image: url(../img/all_classes-m.jpg);
    }
    .main_time{
        background:url(../img/time.jpg) no-repeat center;
    }
.main_diet{
    background:url(../img/diet-m.jpg) no-repeat right;
}
.main_fit{
    background: url(../img/main_fit-m.jpg) no-repeat center;
}
.main_contacts{
    background-image: url(../img/contacts1-m.jpg);
}

.main_break{
    background-image: url(../img/break4-m.jpg);
}
.break{
    background-image: url(../img/break5-m.jpg);
}
.main_gallery{
    background-image: url(../img/gallery-m.jpg);
}
.main_pilates{
   background-image:url(../img/pilates_bckg-m.jpg);
}
.pilates{
    background-image: url(../img/pilates1-m.jpg);
}
.main_stretching{
    background-image: url(../img/stretching1-m.jpg);
}
.stretching{
    background-image: url(../img/stretching2-m.jpg);
}
.main_strip{
    background-image: url(../img/main-strip-m.jpg);
}
.strip{
    background-image: url(../img/strip-m.jpg);
}
.main_yoga{
    background-image: url(../img/main-yoga-m.jpg);
}
.yoga{
    background-image: url(../img/yo-m.jpg);
}
    .contacts{
flex-direction: column-reverse;
padding: 2rem;
    }
    .form{
        width:95%;
    }
    .adres{
        width:95%;
    }
    .pilates-about,
    .fitlife-about,
    .yoga-about,
    .break-about,
    .stretching-about,
    .strip-about{
        font-size:2rem;
        line-height: 3rem;
    }
}
@media(max-width:640px){
    .irina-photo,
    .sergei-photo{
        height: 55rem;
    }
    .sergei-photo-1{
        height: 25rem;
    }
    .socials{
        flex-direction: column;
    }
    .footer_call{
        font-size: 1.3rem;
    }
    .sl_text{
    width:100%;
    padding: 10rem 10rem;
    }
    .small-grafik div{
        width:45%;
    }
    .gallery div{
        margin:0;
        width: 320px;
    }
    .gallery{
        padding: 0;
    }
    .pilates-about,
    .fitlife-about,
    .yoga-about,
    .break-about,
    .stretching-about,
    .strip-about{
        justify-content: center;
        padding: 2rem 1rem;
    }
    .preview-rwrs{
        flex-direction: column;
    }
    .preview{
        flex-direction: column;
    }
    .info-food{
        width:100%;
    }
    .food-img{
        width: 100%;
        height: 280px;
    }
    .food-article{
        width:95%;
    }
}
@media(max-width:480px){
    .FAQ{
        padding: 1rem;
        width: 95%
    }
    .sergei-photo{
        background-position: center bottom;
        height: 35rem;}
    .irina-photo{
        height: 35rem;
    }
    .sergei-photo-1{
        background-position: bottom;
        height: 20rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .small-grafik div{
        width:90%;
    }
    .read-more_btn{
        display: none;
    }
    .pop-classes h4 {
        position: relative;
        left: -95%;
        z-index: 100;
        display: inline-block;
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 3rem;
        padding: 1rem;
    }
    h1{
        font-size: 6rem;
    }
    .slick-next.slick-arrow::before{
        display:none;
    }
    .slick-prev.slick-arrow:before{
        display:none;
    }
    .sl_text{
        font-size: 2.5rem;
        padding: 2rem 1rem;
    }

    .pop-classes img{
        border-radius: 2rem;}

    .dark-img{
        border-radius: 2rem;}
    .pop-classes{
        width:300px;
        transition: 0.1s;
    }
    .pop-classes:hover{
        transform: scale(1.05, 1.05);
    }
    .pop-classes:active{
        transform: scale(0.95, 0.95);
    }
    .pilates-about,
    .fitlife-about,
    .yoga-about,
    .break-about,
    .stretching-about,
    .strip-about{
        text-align: center;
    }
    .food-article{
        width:99%;
    }
}